.banner{
    background-color: azure;
}
.conteudo{
    max-width: 1000px;
    margin: 0 auto;
}

.conteudo h2{
    position: relative;
    font-weight: lighter;
    color: #777777;
    font-size: 24px;
}
.conteudo h2> .borda-efeito{
    width: 50px;
    height: 2px;
    background: #777;
    position: relative;
}
.botao{
	display: block;
	float: left;
    width: 88px;
    margin-top: 10px;
	padding: 5px 5px;
	margin-right: 10px;
	background:#2695FF;
	border-radius: 5px;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
}
/* ==================================================NOTÃCIAS======================================= */
.noticias{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin:0 auto;
}
.noticias>div{
    flex: 1 1 200px;
}
.noticias > div > img{
    width: 310px;
    height: 200px;
    cursor: pointer;
    transition: padding 1s;
}
.data{
    color: #777;;
}
/* ======================================================================================================= */

/* =======================================================CURSOS=========================================== */
.box-cursos{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}
.box-cursos> .center{
    display: flex;
    flex-wrap: wrap;
}
.box-cursos-single{
    width: 33.3%;
    max-width: 250px;
    margin: 0 auto;
    max-height: 400px;
    padding:20px 8px;
}
.box-cursos-wraper{
    width: 100%;
    -webkit-box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
    border: 1px solid #ccc;
    min-height: 100px;
}

.box-cursos-single h2{
    background: #2692FF;
    color: white;
    text-align: center;
    padding: 3px;
    font-weight: lighter;
    margin-top: 0;
}
.cursos{
    padding:8px 0 15px 0;
}
.cursos p{
    margin-bottom: 0;
    text-align: justify;
}
.box-cursos-single p{
    margin-left: 8px;
    color:#777777;
    margin-top: 8px;
    font-size: 17px;
}

.imagem{
    margin-top: 0;
    width: 100%;
    height: 100%;
}
/* ========================================================================================================= */
